body.info{
  background-image: url("../img/25440631_m.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

body.change{
  background-image: url("../img/tokyo0I9A4446_TP_V.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}